################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/proyecto gps-20241003T020627Z-001/FileContentIndex/77c3e483-a566-4054-9f24-e498e64482ac.vsidx
/.vs/proyecto gps-20241003T020627Z-001/FileContentIndex/ea749061-22fa-4714-b575-50f2e7a6cc44.vsidx
/.vs/proyecto gps-20241003T020627Z-001/FileContentIndex
/ProyectoBiblioteca/.vs/ProyectoBiblioteca/FileContentIndex/cb985d44-1c27-420e-9031-8b1f0c2227f1.vsidx
/ProyectoBiblioteca/.vs/ProyectoBiblioteca/FileContentIndex/19fade35-1d2d-42ce-b53a-6e4ad21f54df.vsidx
/ProyectoBiblioteca/.vs/ProyectoBiblioteca/FileContentIndex/8659aa71-0f54-4072-ae76-f53b8589408e.vsidx
