################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/proyecto gps-20241003T020627Z-001/FileContentIndex/77c3e483-a566-4054-9f24-e498e64482ac.vsidx
