################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/proyecto gps-20241003T020627Z-001/FileContentIndex
